/* @group modules */
.moduletable {}

/* @group hmenu */
.moduletable_hmenu {
	
}

.moduletable_hmenu.primary {
	line-height: 12px;
	text-transform: uppercase;
}

.moduletable_hmenu.primary a {
	color: #989898;
}

.moduletable_hmenu.primary a:hover {
	color: #980153;
}

.moduletable_hmenu > ul {
	margin: 0;
	padding: 0;
}

.moduletable_hmenu > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	
	padding: 0 5px;
}
