/* @group modules */
.moduletable {}

/* @group hmenu */
.moduletable_hmenu {
	
}

.module_hmenu.primary {
	float: right;
	padding-top: 59px; /*TODO REMOVE padding-TOP*/
	line-height: 12px;
	text-transform: uppercase;
}

.module_hmenu.primary div > div > div > ul {
	margin: 0;
	padding: 0;
}

.module_hmenu.primary div > div > div > ul > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	padding: 21px 8px 0;
	color: #989898;
}

.module_hmenu.primary div > div > div > ul > li:hover {
	background: url('../images/menu_hover.png') top center no-repeat;
	color: #980153;
	cursor: pointer;
}

.module_hmenu.primary div > div > div > ul > li > ul {
	display: none;
	width: 161px;
}

.module_hmenu.primary div > div > div > ul > li:hover > ul {
	padding: 0;
	background: #ffffff;
	border: 1px solid #e8e8e8;
	border-radius: 5px ;
	display: inline-block;
	position: absolute;
	top: 21px;
	left: 8px;
}

.module_hmenu.primary div > div > div > ul > li > ul > li {
	list-style: none;
	line-height: 20px;
}

.module_hmenu.primary div > div > div > ul > li > ul > li:hover {
	background: #980153;
}

.module_hmenu.primary div > div > div > ul > li > ul > li a {
	padding-left: 7px;
	color: #989898;
}

.module_hmenu.primary div > div > div > ul > li > ul > li:hover a {
	color: #ffffff;
}

/*this is for menu links that are not separators*/
.module_hmenu.primary a {color: #989898;}
.module_hmenu.primary a:hover {
	color: #980153;
	text-decoration: none;
}

/*logo in header*/
.module.logo {
	padding-top: 33px;
	float: left;
}

/* masthead */

.module.masthead {
	background: url('../images/bg_masthead.png') top center repeat-x;
	height: 74px;
	width: 100%;
	position: absolute;
	bottom: 10px;
	left: 0;
	color: #ffffff;
}

.module.masthead > div {
	margin: 0 auto;
	width: 940px;
}

.module.masthead h3 {
	font-size: 40px;
	line-height: 40px;
	padding: 5px 0;
	color: #ffffff;
}

/*top modules in slideshow*/

#top .moduletable {
	padding: 32px 400px 32px 0;
	font-size: 14px;
}

#top .moduletable h3 {
	color: #bcbdc0;
	margin: 22px 0;
}

#top .moduletable h3:hover,
#top .moduletable h3.active {
	color: #980153;
}

/* about kbhns */
.moduletable.aboutKBHNS {
	background: url('../images/bg_aboutKBHNS.png') right bottom no-repeat;
}

.moduletable.aboutKBHNS h3 {
	background: url('../images/h3_aboutKBHNS.png') left center no-repeat;
	padding-left: 60px;
}

.moduletable.aboutKBHNS h3:hover,
.moduletable.aboutKBHNS h3.active {
	background: url('../images/h3_aboutKBHNS-hover.png') left center no-repeat;
}

/* careers */
.moduletable.careers {
	background: url('../images/bg_careers.png') right bottom no-repeat;
}

.moduletable.careers h3 {
	background: url('../images/h3_careers.png') left center no-repeat;
	padding-left: 70px;
}

.moduletable.careers h3:hover,
.moduletable.careers h3.active {
	background: url('../images/h3_careers-hover.png') left center no-repeat;
}

/* in the community */
.moduletable.community {
	background: url('../images/bg_community.png') right bottom no-repeat;
}

.moduletable.community h3 {
	background: url('../images/h3_community.png') left center no-repeat;
	padding-left: 72px;
}

.moduletable.community h3:hover,
.moduletable.community h3.active {
	background: url('../images/h3_community-hover.png') left center no-repeat;
}

/* bottom modules */

#bottom .moduletable {
	border: 1px solid #cccccc;
	width: 450px;
}
