.tab-container {
	text-align: center;
}
.tab-container .tabs {
	list-style-type: none;
	line-height: 44px;
	padding: 0;
	margin: 0;
	height: 86px;
	display: inline-block;
	margin: 0 auto;
	width: 880px;
}
.tab-container .tabs li:first-child {margin-left: 0;}
.tab-container .tabs li {
	float: left;
	font-family: Haettenschweiler; /*TODO REMOVE FONT AND REPLACE WITH BETTER*/
	font-weight: normal; 
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #bcbdc0;
	padding: 0px;
	margin: 20px 0 20px 177px;
	cursor: pointer;
	line-height: 44px;
}

.tab-container .tabs li:hover {
	color: #980153;
}

.tab-container .panel.active {
	display: block;
	opacity: 1;
}

.tab-container .panel {
	display: none;
	opacity: 0;
	clear: both;
	padding: 0px 400px 32px 0px;
	margin: 32px auto 0px;
	font-size: 14px;
	min-height: 155px;
	text-align: left;
	width: 540px;
	line-height: 24px;
}

/* aboutKBHNS */
.tab-container .tabs li.aboutKBHNS {
	background: url('../images/h3_aboutKBHNS.png') left center no-repeat;
	padding-left: 60px;
}
.tab-container .tabs li.aboutKBHNS:hover {
	background: url('../images/h3_aboutKBHNS-hover.png') left center no-repeat;
}

.tab-container .panel.aboutKBHNS {
	background: url('../images/bg_aboutKBHNS.png') right bottom no-repeat;
}

/* careers */
.tab-container .tabs li.careers {
	background: url('../images/h3_careers.png') left center no-repeat;
	padding-left: 70px;
}
.tab-container .tabs li.careers:hover {
	background: url('../images/h3_careers-hover.png') left center no-repeat;
}

.tab-container .panel.careers {
	background: url('../images/bg_careers.png') right bottom no-repeat;
}

/* in the community*/
.tab-container .tabs li.community {
	background: url('../images/h3_community.png') left center no-repeat;
	padding-left: 72px;
}
.tab-container .tabs li.community:hover {
	background: url('../images/h3_community-hover.png') left center no-repeat;
}

.tab-container .panel.community {
	background: url('../images/bg_community.png') right bottom no-repeat;
}

/*top modules in slideshow*/

#top .moduletable {
	padding: 32px 400px 32px 0;
	font-size: 14px;
}