/* elements */
body, select, input, textarea {
	color: #b3b5b8; /* off black */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
body {background: #7d0143;}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-weight: 100; 
	font-size: 24px;
	color: #b3b5b8;
	margin: 0;
}

.item-page h1 {margin-bottom: 30px;}
.item-page h2 {
	font-size: 18px;
	margin-bottom: 1em;
	text-decoration: underline;
}

.item-page p {line-height: 1.3em;}
.item-page > *:first-child {margin-top: 0;}

.item-page ul,
.item-page ol {
    margin: 0em 0 1em 0;
	color: #980153;
}

.item-page ul a {color: #980153;}

a, a:active, a:visited {
	color: #B3B5B8;
	text-decoration: none;
}
a:hover {
	color: #980153;
	text-decoration: underline;
}

.item-page img,
iframe {
	padding: 4px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

.item-page dt,
.item-page dd {padding: 5px 0 0;}

.item-page dt {
	cursor: pointer;
	border-top: 1px solid #c5c5c5;
	line-height: 1.5em;
}
.item-page dt:first-child {border-top: none;}
.item-page dd {
	margin: 0 0 5px 0;
}