/* elements */
body, select, input, textarea {
	color: #b3b5b8; /* off black */
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	background: #7d0143;
	line-height: 1.3em;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-weight: lighter; 
	font-size: 24px;
	color: #b3b5b8;
	padding: 0px 0 30px;
	margin: 0;
	display: inline-block;
}

p {margin: 0;}

a, a:active, a:visited {
	color: #607890;
	text-decoration: none;
}
a:hover {
	color: #036;
	text-decoration: underline;
}
