/* elements */
body, select, input, textarea {
	color: #606060;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
body {
	background: #e4e4e4;
}

.cfdiv_select select, 
.cfdiv_text label {width: 360px;}
.ccms_form_element label {width: 180px;}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { 
	font-weight: 100; 
	font-size: 24px;
}

.item-page h1 {margin-bottom: 30px;}
.item-page h2 {
	font-size: 18px;
	margin-bottom: 1em;
	text-decoration: underline;
}

.item-page h3 {
	font-size: 16px;
	margin-bottom: .5em;
}

.item-page p {
	line-height: 1.3em;
	text-align: justify;
}
.item-page > *:first-child {margin-top: 0;}

.item-page ul,
.item-page ol {
    margin: 0em 0 1em 0;
}

.item-page ul li a,
.item-page ol li a {color: #606060;}
.item-page ul li a:hover,
.item-page ol li a:hover {color: #980153; text-decoration: none;}

.item-page a,
.item-page a:visited {color: #980153; text-decoration: none;}

a, a:active, a:visited {
	color: #606060;
	text-decoration: none;
}
a:hover {
	color: #980153;
	text-decoration: underline;
}

.item-page img,
iframe {
	padding: 4px;
	border: 1px solid #cccccc;
	border-radius: 3px;
}

.item-page dt,
.item-page dd {padding: 0;}

.item-page dt {
	cursor: pointer;
	border-top: 1px solid #606060;
	line-height: 2;
}
.item-page dt:first-child {border-top: none;}
.item-page dd {margin: 0;}

/*contact header style*/

.p1 {
	font-size: 14px;
	font-weight: bold;
	margin: 6px 0 9px;
	display: block;
}
p.p1,
p.p1 a {width: 360px;}
p.p1 a {color: #980153;}