/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	background-color: #ffffff;
	height: 172px;
	position: relative;
}
.home #header,
.home-english #header,
.home-french #header {background: #ffffff url('../images/bg_header.jpg') bottom center no-repeat; height: 395px;}

.home #body,
.home-english #body,
.home-french #body {background: #ffffff url('../images/bg_topTop.png') top center no-repeat;}

#body {
	background: #ffffff url('../images/bg_bodyInnerRepeat.png') top center repeat-x;
	padding-bottom: 40px;
}
#body .container {padding: 35px;}

#top {background: url('../images/bg_tabs.png') top center no-repeat;}

#sidebar {
	float: left;
	width: 190px;
	padding: 0 40px 0 0;
}

#content {
	float: left;
	margin-top: 8px;
	width: 710px;
}

#footer {
	background: url('../images/bg_footerRepeat.png') top center repeat-x;
	height: 200px;
}

#footer > div {
	background: url('../images/bg_footerShadow.png') top center no-repeat;
	padding-top: 20px;
}

#copyright {
	padding: 12px 0 40px;
	background: url('../images/divider_footer.png') top center no-repeat;
	font-size: 10px;
	color: #ffffff;
}

#copyright a {color: #ffffff;}