/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#wrapper {
	min-width: 960px;
}

#header {
	background: url('../images/bg_headerOuter.jpg') top center repeat-x;
	position: relative;
}

#header > div {
	background: url('../images/bg_headerInner.jpg') top center no-repeat;
	height: 172px;
}

#header .container { position: relative; }

.home #header > div,
.home-english #header > div,
.home-french #header > div { height: 395px; }

#headerTop {
	position: absolute;
	top: 0;
	right: 10px;
}

#body {background: #ffffff url('../images/bg_topTop.png') top center no-repeat;}

#body .container {padding: 35px 0;}

#top { background: url('../images/bg_tabs.png') top center no-repeat;}
#top > div { 
	width: 940px; 
	margin: 0 auto;
}

#sidebar {
	float: left;
	width: 190px;
	padding: 0 40px 0 0;
}

#content {
	float: left;
	margin-top: 3px;
}
.wide1 {width: 940px;}
.wide2 {width: 710px;}

#footer {
	background: url('../images/bg_footerRepeat.png') top center repeat-x;
	height: 233px;
	color: #444;
}

#footer > div {
	background: url('../images/bg_footerShadow.png') top center no-repeat;
	padding-top: 20px;
}