/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#wrapper {
	min-width: 960px;
}

#header {
	background-color: #ffffff;
}

#header .container { position: relative; }

#headerTop {
	position: absolute;
	top: 0;
	right: 10px;
}

#masthead {
	background: url('../images/bg_mastheadRepeat.jpg') center center repeat-x;
	position: relative;
	height: 150px;
}

.home-english #masthead,
.home-french #masthead {
	height: 293px;
}

#masthead > div {
	background: url('../images/bg_mastheadInner.png') 145px bottom no-repeat;
	height: 100%;
}

#masthead > div > div {
	background: url('../images/masthead_shadow_top.png') top center repeat-x;
	height: 100%;
}

#masthead > div > div > div {
	background: url('../images/masthead_shadow_bottom.png') bottom center repeat-x;
	height: 100%;
}

#body {
	background: #ffffff url('../images/bg_topTop.png') top center no-repeat;
	min-height: 400px;
}

#body .container {padding: 35px 0;}

#top { background: url('../images/bg_tabs.png') top center no-repeat;}
#top > div { 
	width: 940px; 
	margin: 0 auto;
}

#sidebar {
	float: left;
	width: 190px;
	padding: 0 40px 0 0;
}

#content {
	float: left;
}
.wide1 {width: 940px;}
.wide2 {width: 710px;}

#footer {
	background: url('../images/bg_footerRepeat.png') top center repeat-x;
	height: 233px;
}

#footer > div {
	background: url('../images/bg_footerShadow.png') top center no-repeat;
	padding-top: 20px;
}