.module_hmenu.primary .menu,
.moduletable_hmenu.sidebar ul,
.moduletable_hmenu.secondary .menu {
	margin: 0;
	padding: 0;
	position: relative;
}

.module_hmenu.primary li:hover ul,
.moduletable_hmenu.seconary li:hover ul {display: block;}

.module_hmenu.primary .menu > li,
.moduletable_hmenu.secondary .menu > li {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	position: relative;
	word-wrap: nowrap;
}

.module_hmenu.primary li li,
.moduletable_hmenu.secondary li li {list-style: none;}

/* header menu */

.module_hmenu.primary {
	font-size: 12px;
	float: right;
	margin-top: 56px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.module_hmenu.primary .menu > li {
	padding: 24px 15px 0px;
	cursor: pointer;
}

.module_hmenu.primary.french .menu > li {
	padding: 24px 8px 0;
}

.module_hmenu.primary .menu > li:hover {background: url('../images/menu_hover.png') top center no-repeat;}

.module_hmenu.primary .menu > li > a, 
.module_hmenu.primary .menu > li > span {
	color: #008d7f;
}

.module_hmenu.primary li div,
.module_hmenu.primary li ul {width: 216px;}

.module_hmenu.primary li div {
	display: none;
	position: absolute;
	background: url('../images/dropdownTop.png') -1px 11px no-repeat;
	padding-top: 23px; 
	z-index: 1;
	left: 5px;
	top: 100%;
}

.module_hmenu.primary .menu > li.first {
	padding-left: 10px;
	margin-left: -10px;
}

.module_hmenu.primary li.first li,
.module_hmenu.primary .menu li.last li {
	padding: 0;
	margin: 0;
}

.module_hmenu.primary .menu > li.last {
	padding-right: 10px;
	margin-right: -10px;
}

.module_hmenu.primary li.last > div {
	background: url('../images/dropdownTopLast.png') -1px -1px no-repeat;
	left: -150px;
}

.module_hmenu.primary li.last > div a {
	text-align: right;
	padding: 4px 7px 3px 0px;
}

.module_hmenu.primary li ul {
	background: url('../images/dropdownBottom.png') bottom center no-repeat; 
	padding-bottom: 7px;
	margin: 0;
	top: 0; 
	left: 0;
}

.module_hmenu.primary li li {
	background: url('../images/dropdownMiddle.png') center center repeat-y;
	width: 216px;
	text-shadow: none;
}

.module_hmenu.primary li:hover div {display: block;}

.module_hmenu.primary .menu ul {padding-left: 0;}

.module_hmenu.primary li li:hover {background: #3daea7;}

.module_hmenu.primary li li a {
	display: block;
	padding: 4px 0 3px 7px;
}

.module_hmenu.primary li li:hover a {color: #ffffff;}

.module_hmenu.primary .menu > li.contactUs {
	position: absolute;
	right: 0;
	top: -50px;
}
.module_hmenu.primary .menu > li.contactUs:hover {background: none; text-decoration: underline;}

.module_hmenu.primary .menu > li.outlineSocial {
	width: 27px;
	position: absolute;
	top: -60px;
	right: 210px;
}
.module_hmenu.primary .menu > li.outlineSocial ~ li.outlineSocial {right: 247px;}
.module_hmenu.primary .menu > li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial {right: 284px;}
.module_hmenu.primary .menu > li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial {right: 321px;}
.module_hmenu.primary .menu > li.outlineSocial:hover {background: none;}

.module_hmenu.primary a:hover {text-decoration: none;}

/* sidebar menu (main sidebar menu + partners menu)*/

.moduletable_hmenu.sidebar,
.moduletable.partners {
	text-transform: uppercase;
	font-weight: bold;
}

.moduletable.partners li,
.moduletable_hmenu.sidebar .menu li {list-style: none;}
.moduletable_hmenu.sidebar .menu > li {display: none;}
.moduletable_hmenu.sidebar .menu > li.active {display: block;}

.moduletable_hmenu.sidebar .menu > li > span,
.moduletable_hmenu.sidebar .menu > li > a,
.moduletable.partners span {
	display: none;
}

.moduletable_hmenu.sidebar li.active li,
.moduletable.partners li {
	border-bottom: 1px solid #999999;
	padding: 20px 0;
}

.moduletable_hmenu.sidebar li.active li:first-child {
	padding-top: 0;
}

.moduletable.partners li a:hover,
.moduletable_hmenu.sidebar .menu div a:hover {color: #008d7f;}

.moduletable.partners a,
.moduletable_hmenu.sidebar a {text-decoration: none;}

.moduletable.partners ul {padding: 0;}

/* footer menu */

.moduletable_hmenu.secondary {
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
}

.moduletable_hmenu.secondary span {
	font-weight: bold;
}

.moduletable_hmenu.secondary .menu > li:first-child,
.moduletable_hmenu.secondary.french .menu > li:first-child {padding: 0;}

.moduletable_hmenu.secondary .menu > li {
	padding: 0 0 0 54px;
	vertical-align: top;
}
.moduletable_hmenu.secondary.french .menu > li {
	padding: 0 0 0 20px; 
	max-width: 180px;
}

.moduletable_hmenu.secondary .menu ul {
	width: 100%;
	padding: 0;
}

.moduletable_hmenu.secondary li li {
	text-transform: none;
	line-height: 20px;
}
.moduletable_hmenu.secondary.french li li {
	line-height: normal;
	padding: 4px 0;
}

.moduletable_hmenu.secondary .menu > li > a {font-weight: bold;}
.moduletable_hmenu.secondary .menu > li > a:hover {text-decoration: none;}

.module_hmenu .menu li.hidden { display: none; }
.moduletable_hmenu.secondary li.hidden { display: inline-block; }
.moduletable_hmenu.secondary li.hidden a { display: inline;}

.moduletable_hmenu.secondary .menu > li.outline {
	width: 110px;
	position: absolute;
	top: 0;
	right: 60px;
}
.moduletable_hmenu.secondary.french .menu > li.outline {width: 180px; right: 45px;}

.moduletable_hmenu.secondary .menu > li.outline a:hover {text-decoration: underline;}

.moduletable_hmenu.secondary .menu > li.outline ~ li.outline { top: 20px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline { top: 40px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline { top: 60px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 80px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 100px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 120px; }
.moduletable_hmenu.secondary .menu > li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline ~ li.outline { top: 140px; }

.moduletable_hmenu.secondary .menu > li.outlineSocial {
	width: 27px;
	position: absolute;
	right: 0;
}

.moduletable_hmenu.secondary .menu > li.outlineSocial ~ li.outlineSocial { top: 25px; }
.moduletable_hmenu.secondary .menu > li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial { top: 55px; }
.moduletable_hmenu.secondary .menu > li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial { top: 85px; }
.moduletable_hmenu.secondary .menu > li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial { top: 115px; }
.moduletable_hmenu.secondary .menu > li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial ~ li.outlineSocial { top: 145px; }