/* @group modules */
.moduletable {}

/* logo in header */
.module.logo {
	padding-top: 33px;
	float: left;
}

/* linkedIn link */

.module.linkedIn {
	float: right;
	padding: 20px 120px 0 0; /*FIXME CHANGE PADDING LEFT TO 15px when dropdown module is put in*/ 
}

/* masthead */

.module.masthead {
	background: url('../images/bg_masthead.png') top center repeat-x;
	height: 74px;
	width: 100%;
	position: absolute;
	bottom: 0px;
	left: 0;
	color: #ffffff;
}

.module.masthead > div {
	margin: 0 auto;
	width: 940px;
}

.module.masthead h3 {
	font-family: Haettenschweiler;
	font-size: 40px;
	line-height: 40px;
	padding: 5px 0;
	color: #ffffff;
}

/* bottom modules */
#bottom .moduletable:first-child {margin: 0;}
#bottom .moduletable {
	float: left;
	border: 1px solid #cccccc;
	padding: 0 20px 20px;
	width: 410px;
	margin: 0 0 0 36px;
}

#bottom .moduletable p {
	width: 230px;
}
