#headerTop .moduletable {
	text-transform: uppercase;
	font-size: 12px;
	float:right;
	margin: 15px 0 0 12px;
}

/* contact mod */
.moduletable.contact { padding-top: 10px; }

.moduletable.contact a {color: #ffffff;}

/* language switcher*/

.moduletable.langSwitch { position: relative; }
.moduletable.langSwitch > div {
	z-index:100;
	
	height: 34px;
	width: 155px;
	background: url('../images/button_langSwitch.png') left no-repeat;
}

div.mod-languages ul {padding-top: 10px;}
.ie7 div.mod-languages ul, .ie8 div.mod-languages ul {padding-top: 8px;} /*moves up language links in ie7&8*/

div.mod-languages ul.lang-inline li {display: inline-block; *display: inline; *zoom: 1;}
.moduletable.langSwitch li {
	padding: 0 9px;
	margin: 0;
}

.moduletable.langSwitch li.lang-active a {color: #008d7f;}

/* logo in header */
.module.logo {
	position: absolute;
	left: 0;
	bottom: 0;
}

/* masthead */

.module.masthead {
	font-size: 18px;
	text-shadow: 2px 2px 4px #000;
	width: 100%;
	color: #ffffff;
	/*position: absolute;*/
	bottom: 0;
}

.module.masthead > div {
	margin: 0 auto;
	width: 940px;
}

.module.masthead h3 {
	font-family: "News Gothic MT", Helvetica, Arial, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
	line-height: 40px;
	padding: 5px 0;
	margin: 0;
	color: #ffffff;
}

/*copyright and site by modules*/

.moduletable.copyright {
	padding: 12px 0 40px;
	background: url('../images/divider_footer.png') top center repeat-x;
	font-size: 10px;
}

.moduletable.siteBy {
	float: right;
	font-size: 10px;
	margin-top: 10px;
}

.moduletable.siteBy a {
	color: #444;
}