/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #980153; color:#fff; text-shadow: none; }
::selection { background:#980153; color:#fff; text-shadow: none; }

input.button_readmore,
a.button_readmore {
	background: url('../images/button_readMore.png') top center no-repeat;
	color: #989898;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	width: 108px;
	height: 31px;
}

a.button_readmore {
 	padding: 0 0 0 20px;
	margin-left: -7px;
	line-height: 29px;
}

input.button_readmore,
a.button_readmore:hover {text-decoration: none;}

input.button_readmore {
	text-align: left;
	line-height: 1em;
	padding: 0 0 0 5px;
	border: none;
}

.noLink {cursor: default;}