/* styles */
.clr, .clear { clear: both; }
.left { float: left; }
.right { float: right; }

.hidden { display: none; }

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
/* TODO Update selection BG color */
::-moz-selection{ background: #980153; color:#fff; text-shadow: none; }
::selection { background:#980153; color:#fff; text-shadow: none; }

input.button_readmore,
a.button_readmore {
	background: url('../images/button_readMore.png') top center no-repeat;
	color: #989898;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	display: inline-block;
	width: 108px;
	height: 30px;
}

a.button_readmore {
 	padding: 0 0 0 20px;
	margin-left: -7px;
	line-height: 29px;
}

input.button_readmore {
	text-align: left;
	line-height: 1em;
	padding: 0 0 0 5px;
	border: none;
}

input.button_readmore:hover,
a.button_readmore:hover {text-decoration: none; color: #980153;}

.noLink {cursor: default;}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}

.arrow {
	background: url('../images/directoryArrow.png') left 60% no-repeat;
	padding-left: 9px;
	margin-left: 10px;
	position: relative;
	*zoom: 1;
}