.tab-container { 
	text-align: center;
	overflow: hidden;
	position: relative;
	zoom: 1;
}

.tab-container .tabs {
	list-style-type: none;
	line-height: 44px;
	padding: 0;
	margin: 0;
	height: 86px;
	display: inline-block;
	margin: 0 auto;
	width: 880px;
}
.tab-container .tabs li:first-child {margin-left: 0;}
.tab-container .tabs li {
	float: left;
	font-family: "alternate-gothic-no-1-d"; 
	font-weight: normal; 
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #bcbdc0;
	padding: 0px;
	margin: 20px 0 20px 172px;
	cursor: pointer;
	line-height: 44px;
	letter-spacing: 1px;
}

.tab-container .tabs li:hover {color: #980153;}

.tab-container .panel.active {
	display: block;
	opacity: 1;
}

.tab-container > div {
	position: relative;
	left: 0;
}

.tab-container .panel {
	background: 95% top no-repeat;
	float: left;
	padding: 0px 390px 20px 20px;
	margin: 35px auto 0px;
	font-size: 14px;
	text-align: left;
	width: 530px;
	line-height: 24px;
}

.tab-container .panel.aboutKBHNS { background-image: url('../images/bg_aboutKBHNS.png'); }
.tab-container .panel.careers { background-image: url('../images/bg_careers.png'); }
.tab-container .panel.community { background-image: url('../images/bg_community.png'); }

.tab-container .panel p {
	margin: 0;
}

/* aboutKBHNS */
.tab-container .tabs li {
	background: left center no-repeat;
}

.tab-container .tabs li.aboutKBHNS {
	background-image: url('../images/h3_aboutKBHNS.png');
	padding-left: 60px;
}
.tab-container .tabs li.aboutKBHNS:hover { background-image: url('../images/h3_aboutKBHNS-hover.png'); }

.tab-container .tabs li.careers {
	background-image: url('../images/h3_careers.png');
	padding-left: 70px;
}
.tab-container .tabs li.careers:hover { background-image: url('../images/h3_careers-hover.png'); }

.tab-container .tabs li.community {
	background: url('../images/h3_community.png') left center no-repeat;
	padding-left: 72px;
}
.tab-container .tabs li.community:hover { background-image: url('../images/h3_community-hover.png'); }

/*top modules in slideshow*/

#top .moduletable {
	padding: 32px 400px 32px 0;
	font-size: 14px;
}