.tab-container { 
	text-align: center;
	overflow: hidden;
	position: relative;
	zoom: 1;
}

.tab-container .tabs {
	list-style-type: none;
	line-height: 44px;
	padding: 0;
	margin: 0;
	height: 86px;
	display: inline-block;
	margin: 0 auto;
	width: 880px;
	text-align: center;
}
.tab-container .tabs li {
	font-family: "News Gothic MT", Helvetica, Arial, sans-serif; 
	font-weight: bold; 
	font-size: 24px;
	text-transform: uppercase;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	color: #606060;
	padding: 10px 0 5px 0;
	margin: 20px 50px;
	cursor: pointer;
	line-height: 32px;
}
.home-french .tab-container .tabs li {
	margin: 20px 30px;
}
.tab-container .tabs li:first-child {margin-left: 0;}

.tab-container .tabs li:hover {color: #008d7f;}

.tab-container .panel.active {
	display: block;
	opacity: 1;
}

.tab-container > div {
	position: relative;
	left: 0;
}

.tab-container .panel {
	background: 95% top no-repeat;
	float: left;
	padding: 0px 390px 20px 00px;
	margin: 35px auto 0px;
	font-size: 14px;
	text-align: left;
	width: 550px;
	line-height: 24px;
}

.tab-container .panel.aboutKBHNS { background-image: url('../images/bg_aboutKBHNS.png'); }
.tab-container .panel.careers { background-image: url('../images/bg_careers.png'); }
.tab-container .panel.community { background-image: url('../images/bg_community.png'); }

.tab-container .panel h1 {
	font-size: 24px;
	font-weight: normal;
	margin: 0 0 3px;
}

.tab-container .panel p {
	margin: 0;
}

/* aboutKBHNS */
.tab-container .tabs li {
	background: left center no-repeat;
	padding-left: 67px;
}

.tab-container .tabs li.aboutKBHNS {
	background-image: url('../images/icon_aboutKBHNS.png');
}
.tab-container .tabs li.aboutKBHNS:hover { background-image: url('../images/icon_aboutKBHNS-hover.png'); }

.tab-container .tabs li.careers {
	background-image: url('../images/icon_services.png');
}
.tab-container .tabs li.careers:hover { background-image: url('../images/icon_services-hover.png'); }

.tab-container .tabs li.community {
	background: url('../images/icon_careers.png') left center no-repeat;
}
.tab-container .tabs li.community:hover { background-image: url('../images/icon_careers-hover.png'); }

/*top modules in slideshow*/

#top .moduletable {
	padding: 32px 400px 32px 0;
	font-size: 14px;
}